[submodule "lib/DeFiBlocks"]
	path = lib/DeFiBlocks
	url = git@github.com:onflow/DeFiBlocks.git
	branch = main
[submodule "lib/TidalProtocol"]
	path = lib/TidalProtocol
	url = git@github.com:onflow/TidalProtocol.git
	branch = main
