[submodule "lib/DeFiBlocks"]
	path = lib/DeFiBlocks
	url = https://github.com/onflow/DeFiBlocks.git
	branch = main
[submodule "lib/TidalProtocol"]
	path = lib/TidalProtocol
	url = https://github.com/onflow/TidalProtocol.git
	branch = gio/refactor-pool-creation-updated
