[submodule "lib/TidalProtocol"]
	path = lib/TidalProtocol
	url = git@github.com:onflow/TidalProtocol.git
	branch = tracer-bullet
[submodule "lib/DeFiActions"]
	path = lib/DeFiActions
	url = git@github.com:onflow/DeFiActions.git
