# local
.DS_Store
**/.DS_Store
.pr-drafts/
.vscode/

# flow
*.pkey
*.pem
!local/mock-incrementfi.pkey
!local/emulator-account.pkey
!local/evm-gateway.pkey
!local/test-user.pkey
!local/emulator-flow-yield-vaults.pkey
imports/
coverage.lcov
coverage.json

# solidity
solidity/out/
broadcast
cache
db

# logs
run_logs/*.log
