.DS_Store
# flow
*.pkey
!local/mock-incrementfi.pkey
!local/emulator-account.pkey
!local/evm-gateway.pkey
!local/test-user.pkey
!local/emulator-tidal.pkey
imports
coverage.lcov
coverage.json
solidity/out/

testnet-deployer.pkey
testnet-uniswapV3-connectors-deployer.pkey
mock-strategy-deployer.pkey
